/* fondu affichage plats */
@keyframes fadein {
  0% {
    margin-top: 20px;
    padding-top: 5px;
    opacity: 0;
  }
  100% {
    margin-top: 10px;
    padding-top: 0px;
    opacity: 1;
  }
}
/* rotation spinner loadgin */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* animation fond spinner loadgin */
@keyframes bg-spinner {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
/* effet remplissage coeur follow */
@keyframes remplissage {
  0% {
    position: relative;
    opacity: 0;
    bottom: -2em;
    background: #9356dc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: #9356dc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: #FF79DA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    bottom: 0em;
  }
  100% {
    position: relative;
    opacity: 1;
    background: linear-gradient(150deg, #e470da 0%, #9f5adc 50%, #9f5adc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
}

.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  animation: bg-spinner 2s linear both running;
}
.loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  background: #000;
  opacity: 0.6;
}
.loading-spinner::after {
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  border: 5px solid #f3f3f3;
  border-bottom: 5px solid #9356dc;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinner 1s linear infinite;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0px;
  border-bottom: 1px #eaeaea solid;
}
header a {
  text-decoration: none;
  color: #000;
  position: absolute;
  left: 10px;
}
header img {
  width: 170px;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
}
.info-lieu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 2px -50px inset;
}
.info-lieu i {
  margin-right: 10px;
}
.info-desc {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 50px 20px 50px 20px;
}
.info-desc h1 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 800;
}
.info-desc p {
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
.info-desc button {
  padding: 17px 22px 17px 22px;
  margin: 40px 0px 0px 0px;
  border: 0px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  background: #e470da;
  background: linear-gradient(150deg, #e470da 0%, #9f5adc 50%, #9f5adc 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1);
  transition: transform 400ms;
}
.info-desc button:hover {
  padding: 17px 22px 17px 22px;
  margin: 40px 0px 0px 0px;
  border: 0px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  background: #f5acef;
  background: linear-gradient(150deg, #f5acef 0%, #c868db 50%, #bb7ff0 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transform: scale(1.5);
}

.etapes {
  display: flex;
  flex-direction: column;
}
.etapes h2 {
  padding: 20px;
  font-size: 25px;
  margin-bottom: 0px;
}
.etapes-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: rgba(209, 209, 209, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  height: 70px;
  margin: 0px 30px 30px 30px;
}
.etapes-card:hover {
  align-items: center;
  background-color: #f5edff;
  box-shadow: rgba(134, 134, 134, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  height: 70px;
  margin: 0px 30px 30px 30px;
}
.etapes-card:hover i {
  color: #9356dc;
}
.etapes-card-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #9356dc;
  color: #FFF;
  left: 15px;
}
.etapes-card i {
  font-size: 22px;
  color: #7e7e7e;
  margin-left: 40px;
  margin-right: 20px;
}
.etapes-card .desktop {
  display: none;
}
.etapes-card .mobile {
  display: unset;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.restaurants h2 {
  padding: 20px;
  font-size: 25px;
  margin-bottom: 0px;
}
.restaurants-card {
  display: flex;
  flex-direction: column;
  margin: 0px auto 20px auto;
  width: 90%;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.restaurants-card img {
  width: auto;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0px;
}
.restaurants-card-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 15px 10px 15px 10px;
}
.restaurants-card-desc h4 {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
.restaurants-card-desc a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.restaurants-card-desc a:hover {
  font-size: 18px;
  color: #eaeaea;
  text-decoration: none;
}
.restaurants-card-desc-txt {
  display: flex;
  flex-direction: column;
}
.restaurants-card-desc-txt p {
  margin: 0;
}
.restaurants-card-desc-follow {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.restaurants-card-desc-follow:hover .innactiv {
  display: none;
}
.restaurants-card-desc-follow:hover .activ {
  display: unset;
  animation: remplissage 2s both;
}
.restaurants-card-desc-follow .innactiv {
  font-size: 22px;
  color: #000;
}
.restaurants-card-desc-follow .activ {
  display: none;
  font-size: 22px;
}

.nouveau {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}
.nouveau p {
  background-color: #99E2D0;
  color: #278870;
  margin: 1em 1em 0 0;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menu img {
  width: 100%;
  height: 250px;
  margin: 0px;
  object-fit: cover;
  position: absolute;
}
.menu .sep-green {
  margin-left: 20px;
  background: #99E2D0;
  width: 40px;
  height: 2px;
}
.menu-like {
  display: flex;
  flex-direction: row;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.menu-like:hover .innactiv {
  display: none;
}
.menu-like:hover .activ {
  display: unset;
  animation: remplissage 2s both;
}
.menu-like .innactiv {
  font-size: 22px;
  color: #000;
}
.menu-like .activ {
  display: none;
  font-size: 22px;
}
.menu-contenu {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 220px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  width: 100%;
  position: relative;
}
.menu-titre {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}
.menu-titre h1 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Shrikhand", cursive;
}
.menu-type h2 {
  margin: 20px 0 5px 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  text-transform: uppercase;
}
.menu-card {
  display: flex;
  flex-direction: row;
  background: #FFF;
  margin: 10px 20px 10px 20px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
  animation: fadein 1s both;
}
.menu-card:nth-of-type(2) {
  animation-delay: 0.5s;
}
.menu-card:nth-of-type(3) {
  animation-delay: 1s;
}
.menu-card:nth-of-type(4) {
  animation-delay: 1.5s;
}
.menu-card:nth-of-type(5) {
  animation-delay: 2s;
}
.menu-card:hover .menu-check {
  width: 100px;
  transform: scaleX(1);
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menu-card:hover .menu-check i {
  transform: rotate(0deg);
}
.menu-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: all 500ms;
}
.menu-check i {
  transform: rotate(-360deg);
  transition: all 500ms;
  font-size: 20px;
  color: #FFF;
  margin: 0px;
  padding: 0px;
}
.menu-desc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}
.menu-desc h3 {
  margin: 0px;
  padding: 8px 8px 0 8px;
  font-size: 16px;
}
.menu-desc p {
  padding: 5px 8px 8px 8px;
  font-size: 15px;
  opacity: 0.8;
  margin: 3px 0 0 0;
}
.menu-prix {
  padding: 0 8px 8px 8px;
  margin-right: 0px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
}

.commander {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.commander button {
  padding: 10px 30px 10px 30px;
  margin: 20px 0 60px 0;
  border: 0px;
  border-radius: 25px;
  font-weight: 400;
  color: #FFF;
  background: #e470da;
  background: linear-gradient(150deg, #e470da 0%, #9f5adc 50%, #9f5adc 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.commander button:hover {
  background: #f5acef;
  background: linear-gradient(150deg, #f5acef 0%, #c868db 50%, #bb7ff0 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0 25px 20px;
  background-color: #353535;
}
footer h5 {
  margin: 0;
  padding: 5px 5px 15px 5px;
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  color: #FFF;
}

.footer-liens {
  display: flex;
  flex-direction: column;
}
.footer-liens a {
  color: #FFF;
  text-decoration: none;
  padding: 5px;
}
.footer-liens i {
  width: 25px;
}

@media screen and (min-width: 992px) {
  body {
    background-color: #FFF;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #000;
    width: 992px;
    border-left: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  header {
    position: relative;
  }
  header a {
    margin-left: 20px;
    position: absolute;
    font-size: 25px;
  }

  .loading-spinner {
    display: none;
  }

  .etapes {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .etapes h2 {
    margin: 40px 0 40px 0;
  }
  .etapes-card {
    position: relative;
    width: 200px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 10px 40px 10px;
  }
  .etapes-card-circle {
    position: absolute;
    margin: 0;
    top: -15px;
    left: 100px;
  }
  .etapes-card:hover {
    position: relative;
    width: 200px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 10px 40px 10px;
  }
  .etapes i {
    margin: 0;
    font-size: 35px;
  }
  .etapes .desktop {
    display: unset;
  }
  .etapes .mobile {
    display: none;
  }

  .restaurants {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants-card {
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: all 200ms linear;
  }
  .restaurants-card img {
    width: 100%;
    height: 100px;
  }
  .restaurants-card:hover {
    transform: scale(1.2);
  }
  .restaurants-card-desc-txt {
    font-size: 12px;
  }
  .restaurants-card-desc-txt a {
    font-size: 14px;
  }
  .restaurants-card-desc-txt a:hover {
    font-size: 14px;
  }
  .restaurants-card-desc-follow {
    margin-right: 0;
    margin-left: 10px;
  }

  .nouveau {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .nouveau p {
    background-color: #99E2D0;
    color: #278870;
    margin: 1em 0 0 1em;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .menu img {
    width: 992px;
  }
  .menu-desc h3 {
    font-size: 18px;
  }
  .menu-desc p {
    font-size: 14px;
  }
  .menu-prix {
    font-size: 16px;
    font-weight: 600;
  }

  .commander button {
    transform: scale(1);
    transition: all 200ms linear;
  }
  .commander button:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=style.css.map */
