@import "Utils/_variables";
@import "Base/_fonts";
@import "Base/_flex";
@import "Components/_buttons";
@import "Layout/_blocks";
@import "Components/_anim";

body {
    margin: 0;
    @include font-def;
}

.loading-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10001;
    animation: bg-spinner 2s linear both running;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10001;
        overflow: hidden;
        background: $color-third;
        opacity: 0.9;
    }
    &::after {
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-25px;
    border: 5px solid #f3f3f3;
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-secondary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 1s linear infinite;
    }
}

header {
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0px;
    border-bottom: 1px $grey solid;
    a {
        text-decoration: none;
        color: $black;
        position: absolute;
        left:10px;
    }
    img {
        width:170px;
        height: auto;
    }
}

.info {
    @include flex-column;
    &-lieu {
        @include flex-row;
        justify-content: center;
        background-color: $grey;
        color:$grey-darker;
        font-size:16px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 2px -50px inset;
        i {
            margin-right:10px;
        }
    }
    &-desc {
        @include flex-row;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $grey-light;
        padding:50px 20px 50px 20px;
        h1 {
            @include titre-h1;
        }
        p {
            @include font-p;
            padding: 0px;
            margin: 10px 0px 0px 0px;
        }
        button {
            @include degrade;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            &:hover {
                @include degrade-hover;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
        }
    }
}

.etapes {
    @include flex-column;
    h2 {
        @include titre-h2;
    }
    &-card {
        @include flex-row;
        @include card-accueil;
        &:hover {
            @include card-accueil-hover;
            i {
                color : $color-primary;
            }
        }
        &-circle {
            @include flex-row;
            justify-content: center;
            align-items: center;
            position:absolute;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            background-color: $color-primary;
            color:$white;
            left:15px;
        }
        i {
            font-size:22px;
            color:$grey-medium;
            margin-left:40px;
            margin-right:20px;
        }
        .desktop {
            display: none;
        }
        .mobile {
            display: unset;
        }
        .tablet {
            display: none;
        }
    }
}

.restaurants {
    @include flex-column;
    background-color: $grey-light;
    padding-bottom: 40px;
    h2 {
        @include titre-h2;
    }
    &-card {
        @include flex-column;
        margin: 0px auto 20px auto;
        width: 90%;
        background-color: $white;
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius:15px;
            border-top-right-radius:15px;
            margin:0px;
        }
        &-desc {
            @include flex-row;
            justify-content: space-between;
            margin:0px;
            padding:15px 10px 15px 10px;
            h4 {
                @include titre-h4;
            }
            a {
                font-size:18px;
                color: $black;
                text-decoration: none;
                &:hover {
                    font-size:18px;
                    color:$grey;
                    text-decoration: none;
                }
            }
            &-txt {
                @include flex-column;
                p {
                    margin: 0;
                }
            }
            &-follow {
                @include flex-row;
                margin-right: 15px;
                width: 24px;
                height: 24px;
                &:hover {
                    .activ {
                        @include follow;
                    }
                }
                .innactiv {
                    position: absolute;
                    font-size:22px;
                    color: $black;
                }
                .activ {
                    opacity: 0;
                    position: relative;
                    font-size:22px;
                    background: $color-deg;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.nouveau {
    position: absolute;
    @include flex-row;
    justify-content: flex-end;
    width: 90%;
    p {
        background-color: $color-third;
        color: darken($color-third, 40%);
        margin:1em 1em 0 0;
        padding:8px 10px 8px 10px;
        font-size:14px;
        font-weight: 600;
        border-radius: 3px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

main {
    margin : 0;
    @include flex-column;
}

.menu {
    margin : 0;
    @include flex-column;
    img {
        width: 100%;
        height:250px;
        margin:0px;
        object-fit: cover;
        position:absolute;
    }

    .sep-green {
        margin-left:20px;
        background:$color-third;
        width: 40px;
        height: 2px;
    }

    &-like {
        @include flex-row;
        width: 24px;
        height: 24px;
        &:hover {
            .activ {
                @include follow;
            }
        }
        .innactiv {
            position: absolute;
            font-size:22px;
            color: $black;
        }
        .activ {
            opacity: 0;
            position: relative;
            font-size:22px;
            background: $color-deg;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-contenu {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin:220px 0px 0px 0px;
        @include flex-column;
        background: $grey-light;
        width: 100%;
        position:relative;
    }
    &-titre {
        margin:0px;
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        padding:20px 20px 0px 20px;
        h1 {
          @include titre-h1;
          @include font-second;  
        }
    }
    &-type h2 {
        margin: 20px 0 5px 20px;
        font-size:14px;
        font-weight: 400;
        opacity: 0.8;
        text-transform : uppercase;
    }
    
    &-card {
        @include flex-row;
        background:$white;
        margin:10px 20px 10px 20px;
        padding:0px;
        border-radius:10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
        @include fade;
        &:nth-of-type(2) {
            animation-delay: 0.5s;
        }
        &:nth-of-type(3) {
            animation-delay: 1s;
        }
        &:nth-of-type(4) {
            animation-delay: 1.5s;
        }
        &:nth-of-type(5) {
            animation-delay: 2s;
        }
        &:hover {
            .menu-check {
                width: 100px;
                transform: scaleX(1);
                background-color: $color-third;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                i {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &-check {
        @include flex-row;
        justify-content: center;
        align-items: center;
        transform-origin: right 50%;
        transform: scaleX(0);
        transition: all 500ms;
        i {
            transform: rotate(-360deg);
            transition: all 500ms;
            font-size:20px;
            color: $white;
            margin:0px;
            padding: 0px;
        }
    }

    &-desc {
        width: 100%;
        white-space :nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include flex-column;
        h3 {
            margin:0px;
            padding:8px 8px 0 8px;
            font-size:16px;
            white-space :nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            padding:5px 8px 8px 8px;
            font-size:14px;
            opacity: 0.8;
            margin: 3px 0 0 0;
            white-space :nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-prix {
        padding:0 8px 8px 8px;
        margin-right:0px;
        margin-left:auto;
        @include flex-row;
        align-items: flex-end;
        font-weight: 600;
        font-size:14px;
    }

}

.commander {
    @include flex-row;
    width: 100%;
    align-items: center;
    justify-content: center;
    button {
        padding: 12px 40px 12px 40px;
        margin:20px 0 60px 0;
        border:0px;
        border-radius:25px;
        font-weight: 400;
        color: $white;
        background: rgb(228,112,218);
        background: linear-gradient(150deg, rgba(228,112,218,1) 0%, rgba(159,90,220,1) 50%, rgba(159,90,220,1) 100%);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
            background: rgb(245,172,239,1);
            background: linear-gradient(150deg, rgba(245,172,239,1) 0%, rgba(200,104,219,1) 50%, rgba(187,127,240,1) 100%);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }
}

footer {
    @include flex-column;
    padding:20px 0 25px 20px;
    background-color: $grey-darker;
    h5 {
        margin : 0;
        padding:5px 5px 15px 5px;
        @include font-second;
        font-size:16px;
        color:$white;
    }
}

.footer-liens {
    @include flex-column;
    a {
        color: $white;
        text-decoration: none;
        padding: 5px;
    }
    i {
        width: 25px;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px)
{
    body {
        background: $grey-darker;
        margin: 0;
        @include font-def;
        width: 90%;
        border-left:2px solid $grey-light;
        border-right:2px solid $grey-light;
        margin-left:auto;
        margin-right: auto;
        @include flex-column;
    }

    header {
        background: $white;
        position:relative;
        a {
            margin-left:20px;
            position:absolute;
            font-size:25px;
        }
    }

    .loading-spinner {
        display: none;
    }

    .etapes {
        background-color: $white;
        @include flex-row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        h2 {
            margin: 40px 0 40px 0;
        }
        &-card {
            position:relative;
            width: 100%;
            height: 150px;
            padding:20px;
            @include flex-column;
            justify-content: center;
            &-circle {
                position:absolute;
                margin:0 0 0 -15px;
                top:-15px; left:50%;
            }
            margin:40px 10px 40px 10px;
            &:hover {
            position:relative;
            width: 100%;
            height: 150px;
            padding:20px;
            @include flex-column;
            justify-content: center;
            margin:40px 10px 40px 10px;
            }
        }
        i {
            margin:0;
            font-size:35px;
        }
        .desktop {
            display:unset;
        }
        .mobile {
            display: none;
        }
        .tablet {
            display: none;
        }
    }

    .restaurants {
        padding-top:30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &-card {
            margin-right: 15px;
            width: 100%;
            @include flex-column;
            img {
                width: 100%;
                height: 100px;
            }
            transform: scale(1);
            transition: all 200ms linear;
            &-desc {
                &-txt {
                    font-size:12px;
                    a {
                        font-size:14px;
                        &:hover {
                            font-size:14px;
                        }
                    }
                }
                &-follow {
                    margin-right: 0;
                    margin-left:10px;
                }
            }
        }
    }

    .nouveau {
        position: absolute;
        @include flex-row;
        justify-content: flex-start;
        width: 100%;
        p {
            background-color: $color-third;
            color: darken($color-third, 40%);
            margin:1em 0 0 1em;
            padding:2px 4px 2px 4px;
            font-size:12px;
            font-weight: 600;
            border-radius: 3px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    .menu {
        img {
            width: 90%;
        }
        &-desc {
            h3 {
                font-size:18px;
            }
            p {
                font-size:14px;
            }
        }
        &-prix {
            font-size:16px;
            font-weight: 600;
        }
    }

    
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width:992px) {

    .etapes-card {
        .mobile {
            display:none;
        }
        .desktop {
            display: none;
        }
        .tablet {
            display: unset;
        }
    }

    .loading-spinner {
        display: unset;
    }
}