@keyframes fadein {
    from {
        padding-top:3px;
        opacity:0;
    }
    to {
        padding-top:0px;
        opacity:1;
    }
}

@keyframes fadeinheart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinner {
    0% { 
        transform: rotate(0deg);
     }
    100% { 
        transform: rotate(360deg);
     }
}

@keyframes bg-spinner {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@mixin fadeheart {
    animation-delay: 0s;
    animation: fadeinheart 1s;
}

@mixin fade {
    animation : fadein 1s both;
}
