@keyframes fadein {
    from {
        padding-top:3px;
        opacity:0;
    }
    to {
        padding-top:0px;
        opacity:1;
    }
}

@keyframes fadeinheart {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeinlike {
    0% {
        background: #d76cda;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transform-origin: bottom;
        transform: scaleY(0);
    }
    60% {
        background: #ad5edb;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: $color-deg;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes spinner {
    0% { 
        transform: rotate(0deg);
     }
    100% { 
        transform: rotate(360deg);
     }
}

@keyframes bg-spinner {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform:scale(0);
    }
}

@mixin fadeheart-follow {
    animation-delay: 0s;
    animation: fadeinheart 400ms ease-in both;
}

@mixin fadeheart-like {
    animation: fadeinlike 400ms ease-in both;
}

@mixin fade {
    animation : fadein 1s both;
}
