@mixin degrade {
    padding: 17px 22px 17px 22px;
    margin:40px 0px 0px 0px;
    border:0px;
    border-radius:25px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight: 500;
    color: #FFF;
    background: rgb(228,112,218);
    background: linear-gradient(150deg, rgba(228,112,218,1) 0%, rgba(159,90,220,1) 50%, rgba(159,90,220,1) 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@mixin degrade-hover {
    padding: 17px 22px 17px 22px;
    margin:40px 0px 0px 0px;
    border:0px;
    border-radius:25px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight: 500;
    color: #FFF;
    background: rgb(245,172,239,1);
    background: linear-gradient(150deg, rgba(245,172,239,1) 0%, rgba(200,104,219,1) 50%, rgba(187,127,240,1) 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
}